In [9]:
import numpy as np
import pandas as pd

In [2]:
-(0.4*np.log2(0.4)+0.6*np.log2(0.6))

0.9709505944546686

In [7]:
-(0.285*np.log2(0.285)+0.715*np.log2(0.715))

0.8621745299412249

In [10]:
data = pd.read_csv('sample_data.csv')
data.shape

(1000, 4)

In [11]:
data.head()

   Gender  Age_less_35                    JobRole  Attrition
0    Male         True      Laboratory Technician          0
1    Male        False            Sales Executive          1
2    Male         True       Sales Representative          1
3  Female        False  Healthcare Representative          0
4    Male         True            Sales Executive          0

In [15]:
p = data['Attrition'].value_counts(normalize=True)
p

0    0.831
1    0.169
Name: Attrition, dtype: float64

In [19]:
-(p*np.log2(p)).sum()

0.6554120818442417

In [20]:
def entropy(y):
    p = y.value_counts(normalize=True)
    ent = -(p*np.log2(p)).sum()
    return ent

In [21]:
entropy(data['Attrition'])

0.6554120818442417

In [23]:
data['Gender'].unique()

array(['Male', 'Female'], dtype=object)

In [27]:
male_data = data[data['Gender']=='Male']
male_data.head()

  Gender  Age_less_35                JobRole  Attrition
0   Male         True  Laboratory Technician          0
1   Male        False        Sales Executive          1
2   Male         True   Sales Representative          1
4   Male         True        Sales Executive          0
6   Male        False  Laboratory Technician          0

In [28]:
entropy(male_data['Attrition'])

0.6568540844475503

In [29]:
female_data = data[data['Gender']=='Female']
female_data.head()

    Gender  Age_less_35                    JobRole  Attrition
3   Female        False  Healthcare Representative          0
5   Female         True          Research Director          0
7   Female        False          Research Director          0
8   Female         True            Sales Executive          0
14  Female        False      Laboratory Technician          0

In [30]:
entropy(female_data['Attrition'])

0.6530606453563348

In [34]:
def weighted_entropy(feature, y):
    '''
    feature - > series (gender/age<35)
    y -> series
    '''
    
    categories = feature.unique()
    weighted_ent = 0.0
    
    for category in categories:
        y_category = y[feature == category]
        
        ent_category = entropy(y_category)
        
        w = len(y_category)/len(y)
        
        weighted_ent += (w*ent_category)
                
    return weighted_ent

In [35]:
weighted_entropy(data['Gender'], data['Attrition'])

0.6554087841537972

In [36]:
weighted_entropy(data['Age_less_35'], data['Attrition'])

0.6339490169245043

In [38]:
def information_gain(feature, y):
    parent = entropy(y)
    child_entroy = weighted_entropy(feature, y)
    
    ig = parent - child_entroy
    
    return ig

In [39]:
information_gain(data['Gender'], data['Attrition'])

3.2976904444925736e-06

0.6339490169245043

In [48]:
for feature in data.columns[:-1]:
    print(f"Info gain for {feature} :",
          information_gain(data[feature], data['Attrition']).round(3))

Info gain for Gender : 0.0
Info gain for Age_less_35 : 0.021
Info gain for JobRole : 0.054